.prettierrc
emi.json
options.txt
rhino.local.properties
usercache.json
usernamecache.json
.vscode/
XaeroWaypoints/
shaderpacks/
saves/
mods/
logs/
local/
icon.png
config/
kubejs/jsconfig.json
heracles_options.json
kubejs/README.txt
XaeroWaypoints_BACKUP032021/New World (1)/config.txt
